<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<title>tenant app </title>
  <style>
    body{
      background-image: url(../static/css/agent5.jpg);
  
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <form action="http://127.0.0.1:5000/toSignup" method="POST">
						<div class="flex-col-c p-t-155 navbar-brand">
							
							<input id="otherPage" type="submit" name="tenants" value="Tenants">
							
						</div>
				</form> 
 
<a class="navbar-brand" href="http://127.0.0.1:5000/toSignup_user" >users</a>
  <!-- Links -->
 
</nav>
</body>
</html>

<!-- mydb = mysql.connector.connect(host="127.0.0.1",
                                user="root",
                                password="root",
                                database="tenantapp",
                                auth_plugin='mysql_native_password') -->




                      