<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #txt{
            margin-left: 8%;
        }

        #cb{
        margin-left: 8%;
        background-color: #7B68EE;
			  color: white;
			  border: none;
			  padding: 12px;
			  font-size: 1.5rem;
			  cursor: pointer;
			  border-radius: 5px;
			  margin-top: 20px;
		}
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password</title>
</head>
<body>
    <h1 id="txt">Your Password is changed Successfully</h1>
    <a href="http://127.0.0.1:5000/toLogin" id="cb">Continue</button>
</body>
</html>